<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CW0LDDKNCP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CW0LDDKNCP');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Niket Parikh
              </h1>
              <p>I am a PhD student at the <a href="https://tran.aerospace.illinois.edu">Lab for Intelligent Robots and Agents (LIRA)</a>, part of the <a href="https://aerospace.illinois.edu">Department of Aerospace Engineering</a> at the <a href="https://illinois.edu">University of Illinois Urbana-Champaign </a>, where I work on multi-agent reinforcement learning. My PhD advisor is <a href="https://huytrtran.github.io">Prof. Huy T. Tran</a>. Currently, I am interning at <a href="https://www.amazon.science">Amazon Science</a> as an Applied Scientist, and in the past summer, worked at <a href="https://plus.ai">PlusAI</a> as a software engineer in the simulation team. Previously, I graduated from <a href="https://www.iitb.ac.in">IIT Bombay</a> with a Dual degree (Bachelor of Technology + Master of Technology) in Aerospace Engineering.
              </p>
              <p>

              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/Bc838Xbv"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/npnike10">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=mllPgIMAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/niket-parikh1/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/my_photo_circ.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in enabling cooperative multi-agent autonomy in dynamic environments using deep reinforcement learning and game theory, with an emphasis on understanding and enhancing the social outcome from the interaction of self-interested agents. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <!-- {% if post.venue %} -->
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}  <span style="font-weight: bold; color: red;">{{ post.special }}</span>
              <!-- {% else %}
              {{ post.date | date: "%Y" }}
              {% endif %} -->
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a>
              {% endif %}
              {% if post.link %}
              <a href="{{post.link}}">link</a>
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}"> / video</a>
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}"> / code</a>
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}"> / poster</a>
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}"> / slides</a>
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}"> / website</a>
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}"> / youtube</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Thanks to <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman</a> for providing a template in the form of a <a style="font-size:small;" href="https://github.com/leonidk/leonidk.github.io">Jekyll fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

